
.contactus_hero_heading{
	color: white;
}

.contactus_hero_img{
	position: relative;
	
}
.contactus_hero_heading{
	position: absolute;
	top: 50px;
	left: 560px;
	
}
.contactusphone{
	width: 40px;
	height: 40px;
	background-color: #7fad39;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

}
.cardbox {
	margin-left: 80px;
	margin-right: 80px;
  }




.leavesms{
	margin-right: 100px;
	justify-content: center;
}