.loginbody {
    margin: 0;
    padding: 0;
    background-color: blue;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 40px;
    max-width: 600px;
    height: 320px;
    border: 1px solid gainsboro;
    background-color: white;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  .form-group{
    margin-top: 10px;
  }
    

  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: 20px;
  }